@import "../css/root.css";

#imageAccount {
    -fx-background-image: url(../immagini/fake-account.png);
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#sidebar {
    -fx-background-color: #B4B7B7D9;
}

.optionTab {
    -fx-background: #ffffff;
    -fx-background-radius: 10
}

.optionTab:selected {
    -fx-background: #0D3BB1;
    -fx-background-radius: 10
}

