* {
    -mfx-main: #0D3BB1;
}


/*.tab {*/
/*    -fx-background-color: #1c6fb8;*/
/*    -fx-font: 16px "Helvetica Neue";*/
/*    -fx-background-radius: 0;*/
/*}*/

/*.tab-label {*/
/*    -fx-text-fill: #fff;*/
/*}*/

/*.tab:focused .tab-label {*/
/*    -fx-text-fill: #000;*/
/*}*/

/*.tab-header-background {*/
/*    -fx-background-color: #1c6fb8;*/
/*}*/

/*.tab-pane {*/
/*    -fx-tab-min-width: 120px;*/
/*    -fx-tab-max-width: 120px;*/
/*    -fx-tab-min-height: 50px;*/
/*    -fx-tab-max-height: 50px;*/
/*    -fx-background-color: #15558c;*/
/*}*/

/*!*.tab:selected {*/
/*    -fx-text-fill: #000;*/
/*    -fx-background-color: #15558c;*/
/*}*!*/

/*.tab-pane .tab:selected {*/
/*    -fx-background-color: #15558c;*/
/*}*/

/*.tab:selected .tab-label {*/
/*    -fx-text-fill: #000;*/
/*    -fx-background-color: #15558c;*/
/*}*/

#sidebar {
    /*-fx-background-color: #475563;*/
}

#profiloBtn:selected {
    -fx-background-color: #bb7a2a;
}

.mfx-text-field:focus-within {
    -fx-border-color: #0D3BB1;
}

.mfx-date-picker:focus-within .icon {
    -mfx-color: -mfx-main;
}

.mfx-date-picker .date-picker-popup .months-combo:focus-within,
.mfx-date-picker .date-picker-popup .years-combo:focus-within {
    -fx-background-color: #f8f7fa;
    -fx-text-fill: -mfx-main;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
    -fx-text-fill: -mfx-main;
}

.wrapperHome {
    -fx-background-color: #B4B7B7;
    -fx-background-radius: 20;
    -fx-border-color: #6F6F6F;
    -fx-border-radius: 20;
    -fx-border-width: 1.5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.85), 10, 0.1, 10, 10);
}

.wrapperHome:hover {
    -fx-background-color: rgba(106, 108, 108, 0.85);
}

.text {
    -fx-fill: #0d3bb1;
}

#rootCardAuto {
    -fx-border-radius: 15;
    -fx-border-width: 1.5;
    -fx-border-color: #6F6F6F;
    -fx-background-color: #B4B7B7;
    -fx-background-radius: 15;
}

#rootCardAuto > #wrapperImagine {
    -fx-background-image: url(../immagini/car.jpeg);
    -fx-background-position: 0 0;
    -fx-background-size: cover;
    -fx-shape: "M0 0 2.2 0C2.9 0 3 .1 3 .9L3 3 3 4-2 4-3 4-3 .8C-3 .1-2.9 0-2.1 0L0 0Z";
}

.text-header:hover {
    -fx-background-color: #6F6F6F80
}

.account-header {
    -fx-background-image: url(../immagini/fake-account.png);
    -fx-background-position: 50% 50%;
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;

}