/*@import "form.css";*/
@import url(../css/root.css);

.button-usato {
    -fx-border-color: -my-gray1;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.label-form-25-size {
    -fx-font-size: 25;
}

.label-form-30-size {
    -fx-font-size: 30;
}

#infoBtn {
    -fx-background-color: #54B4D3;
    -fx-background-radius: 50;
    -fx-text-fill: white;
    -fx-border-color: none;
}